<h1>Listing group_posts</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>group</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @group_posts.each do |group_post| %>
      <tr>
        <td><%= group_post.title %></td>
        <td><%= group_post.description %></td>
        <td><%= group_post.group_id %></td>
        <td><%= group_post.user_id %></td>
        <td><%= link_to 'Show', group_post %></td>
        <td><%= link_to 'Edit', edit_group_post_path(group_post) %></td>
        <td><%= link_to 'Destroy', group_post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New group post', new_group_post_path %>
