<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @group_post.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @group_post.description %>
</p>

<p>
  <strong>group:</strong>
  <%= @group_post.group_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @group_post.user_id %>
</p>

