
<% user.user_posts.order(created_at: :desc).each do |post| %>
  <div class="posts-area col-md-12" id="current-feed-post-<%=post.id%>">
    <div class="post-wrapper panel panel-default">
      <div class="post-header panel-heading row">
        <div class="image-for-poster col-md-2  text-center"><%=link_to (image_tag post.user.avatar.url(:thumb), class: "img-circle ", size:'50x50'), user_path(post.user) %>
        </div>
        <div class="col-md-8 col-sm-12 col-xs-12">
          <div class="user-name"><%= link_to "#{post.user.full_name}", user_path(post.user) %></div>
          <div class="time"><%=post.created_at.strftime("%B %d, %Y, %I:%M %p") %></div>
        </div>
        <%if post.user == current_user %>
          <div class="col-md-2 col-sm-4 col-xs-6 pull-right post-actions" >
            <%=link_to "", edit_user_post_path(post.id),remote: true,  class: "fa fa-pencil fa-fw" %>
            <%=link_to "", user_post_path(post.id), remote: true,  method: :delete, data: {confirm: "Are you sure u want to delete this post?"}, class: "fa fa-times" %>
          </div>
        <%end%>
      </div>
      <div class="post-body panel-body">
        <p><%= post.description %></p>
      </div>

      <div class="post-comments">
        <ul class="list-inline row">

          <li class="col-md-3 col-sm-3 col-xs-6"><a class="add-comment" id="add-comment-<%= post.id %>" data-comment="<%= post.id %>"><i class="glyphicon glyphicon-plus-sign"></i> Comment </a></li>

          <li class="col-md-3 col-sm-3 col-xs-6"><i class="glyphicon glyphicon-comment"></i>
          <a class="count-comments" id="count-comments-<%= post.id %>" data-comment="<%= post.id %>"><%=post.post_comments.count%> comments</a> </li>

          <%=link_to "", user_post_upvotes_path(post.id, Upvote.new),remote: true, method: :post, class: "glyphicon glyphicon-thumbs-up" %>

          <span class="count-upvotes" id="count-upvotes-<%= post.id %>" data-comment="<%= post.id %>"><%= post.upvotes.count %> upvotes</span>

        </ul>
        <div class="new-comment" id="new-comment-form-<%= post.id %>" style="display:none;">

          <%= render partial: 'user_posts/new_comment', locals: {user_post: post}%>
        </div>
        <div class="all-comments" id="all-comments-<%=post.id %>" style="display:none;">
          <%= render partial: 'user_posts/comments', locals: { user: user, post: post}%>
        </div>
      </div>
    </div><!-- Post body ends here-->
  </div>

<%end%>

