<div class="wrapper">
    <div class="top-header top-header-users">
      <div class="hero-headline">
        <h1>Find Like Minded Learners </h1>
      </div>
    </div>
    <%= render partial: 'users/search_bar' %>
  <div class="all-users">
    <div class ="row">
        <div class="col-md-11 col-md-offset-1 col-sm-offset-0 text-center">
          <%@meetup.members.each do |m| %>
            <% user = m.user%>
            <div class="col-md-3 col-xs-12 text-center card">
              <%= image_tag user.avatar.url(:thumb), :class => "user-avatar img-circle  "%>
              <h4 class=""><%=link_to user.full_name, user_path(user) %></h4>
              <p><%= user.industry.name if user.industry%></p>
              <ul class="actions list-inline">
                <li id="<%= user.id %>-follow-form" class="follow-form">
                  <%= render partial: 'follows/follow_form', locals: { user: user } if current_user %>
                </li>
              </ul>
            </div>
          <%end%>
        </div>

    </div>
  </div>
</div>
