<div class="container">
  <div class="row">
    <section class="col-md-8 col-md-offset-2 reg-form panel panel-default text-center">
      <h4 class="text-center">Please Sign Up</h4>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: 'form-horizontal panel-content'}) do |f| %>
      <%= devise_error_messages! %>

      <div class="form-group">
        <%= f.label :first_name, class: "col-sm-2 control-label" %>
        <div class="col-sm-6">
          <%= f.email_field :last_name, class: "form-control" %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :last_name, class: "col-sm-2 control-label" %>
        <div class="col-sm-6">
          <%= f.email_field :last_name, class: "form-control" %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :email, class: "col-sm-2 control-label" %>
        <div class="col-sm-6">
          <%= f.email_field :email, class: "form-control" %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :password, class: "col-sm-2 control-label" %>
        <div class="col-sm-6">
          <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-6">
          <%= f.submit "Sign up", class: "btn btn-primary" %>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-6">
          <%= render "devise/shared/links" %>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>

