<h1 class="text-center"><%= Meetup.all.count%> Course user meetups</h1>

<div class="container">
  <div class ="study-meetups-wrapper row">
    <div class="col-md-2 study-meetup-search">
      <h>Search</head>
    </div>

    <div class="study-meetups-section col-md-10">
      <div class="row all-study-meetups">
      <% @meetups.each do |meetup| %>
        <div id="meetup-card-<%=  %>" class="meetup-card col-lg-3 col-md-2 col-sm-12 col-xs-12">
          <div class="card-top">
            <h4 class="text-center"> <%= meetup.name %> </h4>
            <% if meetup.provider %>
              <p class="text-center">by <strong><%= meetup.provider%></strong></p>
            <%end%>
          </div>
          <div class="card-bottom text-center">
            <div class="actions meetup-members">
              <a href="/meetups/<%=meetup.id%>/meetup_members" class="members">
              <%= meetup.users.count %> Members</a>
              <span><a href="/meetups/<%= meetup.id%>/meetup_posts" class="members">
              <%= meetup.meetup_posts.count %> posts</a></span>
            </div>
            <div class="actions">
              <span class="meetup-join" id="meetup-join-<%= meetup.id %>">
                <%= render partial: 'meetup_members/form', locals: {meetup: meetup}%>
              </span>
              <span><a href="/meetups/<%= meetup.id %>" class="btn btn-primary"> view </a></span>
            </div>
          </div>
        </div>
      <% end %>

      </div><!-- study meetups section ends here -->
      <nav>
    <div class="pagination">
       <%= will_paginate @meetups %>
    </div>

</nav>

    </div>
  </div>
</div>


<%= link_to 'New Study meetup', new_meetup_path %>
