<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @course_review.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @course_review.description %>
</p>

<p>
  <strong>User:</strong>
  <%= @course_review.user_id %>
</p>

<p>
  <strong>Course:</strong>
  <%= @course_review.course_id %>
</p>

<%= link_to 'Edit', edit_course_review_path(@course_review) %> |
<%= link_to 'Back', course_reviews_path %>
