<h1 class="text-center">User groups</h1>

<div class="container">
  <div class ="study-meetups-wrapper row">
    <div class="col-md-2 study-group-search">
      <h>Search</head>
    </div>

    <div class="study-meetup-section col-md-10">
      <div class="row all-study-groups">
      <% @groups.each do |group| %>
        <div id="group-card-<%=  %>" class="group-card col-lg-3 col-md-2 col-sm-12 col-xs-12">
          <div class="card-top">
            <h4 class="text-center"> <%= group.name %> </h4>
          </div>
          <div class="card-bottom text-center">
            <div class="actions group-members">
              <a href="/groups/<%=group.id%>/group_members" class="members">
              <%= group.users.count %> Members</a>
              <span><a href="/groups/<%= group.id%>/group_posts" class="members">

            </div>
            <div class="actions">

              <span><a href="/groups/<%= group.id %>" class="btn btn-primary"> view </a></span>
            </div>
          </div>
        </div>
      <% end %>

    </div><!-- study groups section ends here -->
      <nav>
        <div class="pagination">
           <%= will_paginate @groups %>
        </div>
      </nav>

    </div>
  </div>
</div>
