<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2 reg-form panel panel-default text-center">
      <h4 class="text-center">Select your Industry/Major to Finish Registration</h4>
      <%= bootstrap_form_for(current_user, html: {class: 'form-horizontal panel-content'}) do |f| %>

      <div class="form-group">
        <%= f.label :full_name, class: "col-sm-3 control-label" %>
        <div class="col-sm-6">
          <%= f.text_field :full_name, hide_label:true,required: true, class: "form-control" %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :industry, class: "col-sm-3 col-xs-12 control-label" %>
        <%= f.collection_select(:industry_id, Industry.all, :id, :name, {include_blank: "-- Please select your industry or major --", hide_label: true}, required: true, class: "col-sm-6 text-center") %>
      </div>

      <div class="form-group">
        <%= f.label :email, class: "col-sm-3 control-label" %>
        <div class="col-sm-6 col-xs-12">
          <%= f.email_field :email,hide_label: true, required: true, class: "form-control"%>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-6">
          <%= f.submit "Finish", class: "btn btn-success btn-signup col-sm-11 col-xs-11 col-sm-offset-2 text-center" %>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
