
  <div class="top-header top-header-users">
    <div class="hero-headline">
      <h1>Find Like Minded Learners </h1>
    </div>
  </div>
  <%= render partial: 'users/search_bar' %>
<div class="all-users">
  <div class ="container">
    <div class="row">
      <div class="">
        <% @users.each do |user| %>
        <div class="card">
          <div class="col-md-3 col-sm-3 col-xs-12 text-center card">
            <%= image_tag user.avatar.url(:thumb), :class => "user-avatar img-circle  "%>
            <h4 class=""><%= user.full_name %></h4>
            <p><%= user.industry.name if user.industry%></p>
            <ul class="actions list-inline">
              <li><%=link_to 'view', user, class: "btn btn-default" %></li>
              <li id="<%= user.id %>-follow-form" class="follow-form">
                <%= render partial: 'follows/follow_form', locals: { user: user } if current_user %>
              </li>
            </ul>
          </div>
        </div>
        <%end%>
      </div>
    </div>
      <%= will_paginate @users %>
  </div>
</div>
