<div class="container">
  <div class="">
    <% @user ||= current_user %>
    <span ng-init="currentUser = <%= @user.id %>"></span>
    <div class="row user-info-section">
      <div class="user-info row">
        <div class="main-profile text-center col-md-8">
          <div class="user-basic-info">
            <div class" col-md-3 col-sm-6 col-xs-12"><%= image_tag @user.avatar.url(:thumb), :class => "img-circle"%>
            </div>
            <h3 class="user-name"><%= @user.full_name %></h3>
            <p>Computer software</p>
            <p>Boston, MA</p>
          </div>
          <div class="profile-actions">
            <a href="" class="btn btn-primary">Follow</a>
            <span><a href="" class="btn btn-primary">Give Credit</a></span>

          </div>
        </div>
        <!-- Render aside user stats-->
        <%= render partial: 'users/stats_right', locals: {user: @user}%>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-8 user-profile-info">
      <p>Add the current status in your learning journey</p>
      <%=render partial: "current_courses/view"%>
      <hr>
      <%=render partial: "taken_courses/view"%>
      <hr>
      <%=render partial: "future_courses/view"%>
      <hr>
      <%=render partial: "educations/view"%>
    </div>
    <div class="col-md-3 col-sm-12 col-xs-12 text-center">
      <div class="user-suggestions">
        <p>Suggestions</p>
      </div>
    </div>
  </div>
</div>

