<div class="container-fluid">
  <div class="">
    <% @user ||= current_user %>
    <span ng-init="currentUser = <%= @user.id %>"></span>
    <div class="row user-info-section">
      <div class="user-info row">
        <div class="main-profile text-center col-md-8">
          <div class="user-basic-info">
            <div class" col-md-3 col-sm-6 col-xs-12"><%= image_tag @user.avatar.url(:thumb), :class => "img-circle"%>
            </div>
            <h3 class="user-name"><%= @user.full_name %></h3>
            <p>Computer software</p>
            <p>Boston, MA</p>
          </div>
          <div class="profile-actions">
            <a href="" class="btn btn-primary">Follow</a>
            <span><a href="" class="btn btn-primary">Give Credit</a></span>

          </div>
        </div>
        <!-- Render aside user stats-->
        <%= render partial: 'users/stats_right'%>
      </div>
    </div>
  </div>
  <div class="row user-stuff-section">
      <div class="mystuff-tab-container">
        <div class="pull-left left-aside col-md-2 col-sm-12 col-xs-12 mystuff-tab-menu">
          <%= render partial: 'users/side_tab_menu'%>
        </div>
        <div class="content-wrapper col-md-6 col-sm-12 col-xs-12 mystuff-tab">
          <div class="mystuff-tab-content active">
            <p>Courses</p>
            <hr>
          </div>
          <!-- train section -->
          <div class="mystuff-tab-content">
            <p>Teams</p>
            <hr>
          </div>

          <!-- hotel search -->
          <div class="mystuff-tab-content">
            <p>Organizations</p>
            <hr>
          </div>
          <div class="mystuff-tab-content">
            <p>Favorites</p>
          </div>
          <div class="mystuff-tab-content">
            <p>Posts</p>
            <hr>
          </div>
        </div>
        <aside class="right-aside col-md-4 col-sm-12 col-xs-12">
          <div class="suggestions">
            <p>Suggestions</p>
            <hr>
          </div>
        </aside>
      </div>

    </div>
  </div>
</div>
