<%= form_for(@future_course) do |f| %>
  <% if @future_course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@future_course.errors.count, "error") %> prohibited this future_course from being saved:</h2>

      <ul>
      <% @future_course.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :organization %><br>
    <%= f.number_field :organization %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
