<li id="future-course-id-<%=course.id%>" class="current course-item" data-course-id="<%= course.id %>"><%= course.name %> at
<span><%= course.organization %></span>
<span class="actions" id="future-course-actions-<%= course.id %>">
  <%if current_user == course.user %>
    <%=link_to([current_user, course], remote: true, method: :delete, data: { comfirm: "are you sure you want to delete this course"}) do %>
      <span title="remove course"class="fa fa-times remove-item tex-center"></span>
    <%end%>
  <%end%>
</span>
</li>
