<%= form_for(@group_post_vote) do |f| %>
  <% if @group_post_vote.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@group_post_vote.errors.count, "error") %> prohibited this group_post_vote from being saved:</h2>

      <ul>
      <% @group_post_vote.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :group_post_id %><br>
    <%= f.number_field :group_post_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
