<p id="notice"><%= notice %></p>
<p><%=  @organization.name %></p>
<p><%= @organization.description %></p>
<%= link_to 'Edit', edit_organization_path(@organization) %> |
<%= link_to 'Back', organizations_path %>
