<li id="education-id-<%= education.id%>" class="current education-item" data-education-id="<%= education.id %>"><%= education.degree %> at
  <span><%= education.organization %></span>
  <span class="actions" id="education-actions-<%= education.id %>">
    <%if current_user == education.user %>
      <%=link_to([current_user, education], remote: true, method: :delete, data: { comfirm: "are you sure you want to delete this education"}) do %>
        <span title="remove education"class="fa fa-times remove-item tex-center"></span>
      <%end%>
    <%end%>
  </span>
</li>
