<div class="row edit form">
  <div class="post-header panel-heading row">
    <%= bootstrap_form_for([meetup, meetup_post], remote: true) do |f| %>
      <% if @meetup_post.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@meetup_post.errors.count, "error") %> prohibited this meetup_post from being saved:</h2>

          <ul>
          <% @meetup_post.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

    <%= f.text_area :description, label: { text: "Edit description"}, class: "post-body panel-body" %>
      <div class="actions">
        <%= f.submit "Update", class: "btn btn-success" %>
        <span>
        <%=link_to "Cancel", meetup_meetup_post_path(@meetup_post.meetup, @meetup_post), remote: true, class: "btn btn-default" %>
        </span>
      </div>
    <% end %>
  </div>
</div>
