<!DOCTYPE html>
<html ng-app="rushBase">
<head>
  <title>Rushbase</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <% if user_signed_in? %>
      <li><%= link_to 'organization', new_organization_path %></li>
      <li><%= link_to 'edit user profile', edit_user_registration_path %></li>
      <li><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>
    <% end %>
    <%= render partial: "layouts/home_nav"%>
  </header>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  <%= yield %>



</body>
</html>
