<!DOCTYPE html>
<html ng-app="RushBase">
<head>
  <title>Rushbase</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<header>
		<div class="container-narrow">
		  <div class="masthead">
		    <%= render 'layouts/user_header' %>
		    <h3 class="muted"><%= link_to "RushBase", root_path %></h3>
		  </div>
		  <hr />
		</div>
	</header>

	<p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  <%= yield %>

</body>
</html>
